<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.dao.SoilNodeMapper">

    <resultMap id="BaseResultMap" type="com.mvc.pojo.SoilNode" >
        <constructor >
            <idArg column="node" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="interval_s" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="location" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="last_update" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
    node, state, interval_s, location, last_update
  	</sql>


<!--    <select id="selectSoilNodeSet" resultMap="BaseResultMap">-->
<!--        select <include refid="Base_Column_List" />-->
<!--        from soil_node-->
<!--    </select>-->
    <select id="selectSoilNodeSet" resultType="com.mvc.pojo.SoilNode">
        select *
        from soil_node
    </select>



</mapper>
