<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.dao.SoilMapper">

    <resultMap id="BaseResultMap" type="com.mvc.pojo.Soil" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="node" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="humidity" jdbcType="DOUBLE" javaType="java.lang.Double" />
            <arg column="times" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
    id, node, humidity, times
  	</sql>

    <select id="selectSoilSet" resultType="com.mvc.pojo.Soil" parameterType="map">
        select *
        from soil_water
        where node = #{node}
        and times like #{times}
    </select>
<!--    and times like #{time}-->


</mapper>
